h3 {
  text-decoration: underline;
}

.cBorder {
  border: 1px solid #444444;
  resize: both;
}

.detailsContainer {
  background-color: #e8e9ff;
}

table {
  border: 1px solid #aaaaaa;
}

td {
    padding: 2px 10px 2px 10px;
}

.height {
  height: 80%;
}
