<!DOCTYPE html>
<html lang="en"
		  xmlns="http://www.w3.org/1999/xhtml" 
		  xmlns:th="http://www.thymeleaf.org" 
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		  layout:decorator="layouts/main"  >
	<head >
		 <title></title>
		 <meta name="description" content=""/>
	     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		 <link rel="stylesheet" th:href="@{css/main.css}" href="../static/css/main.css"/> 
	</head>
	<body>
				<section layout:fragment="loginContent" >
					<div id="registrationcontainer">
							<form name="adminregistration" th:action="@{/adminreg}" th:object="${user}" method="post" class="form-signin">
								<div id="regtitle"  th:text="#{rRegisztracioX}">  Registration:
								</div>
								<div id="regfirstnametext" th:text="#{rKeresztnevX}" align="right">  FirstName:
								</div>
								<div id="regfirstnameinput">  
									  <input type="text" id="firstname" name="firstname" th:field="*{firstName}"  onfocus="this.placeholder = ''" th:attr="placeholder=#{rKeresztnev}"  />  
								</div>
								<div id="clear">
								</div>
								<div id="reglastnametext"th:text="#{rVezeteknevX}"align="right">  LastName:
								</div>
								<div id="reglastnameinput">  
									  <input type="text" id="lastname" name="lastname" th:field="*{lastName}" onfocus="this.placeholder = ''" th:attr="placeholder=#{rVezeteknev}"  />   
								</div>
								<div id="clear">
								</div>
								<div id="regemailtext"th:text="#{rEmailX}"align="right">  Email:
								</div>
								<div id="regemailinput">  
									  <input type="text" id="email" name="email" th:field="*{email}" onfocus="this.placeholder = ''" th:attr="placeholder=#{rEmail}"  />   
								</div>
								<div id="clear">
								</div>
								<div id="regpasswordtext" th:text="#{rJelszoX}"align="right"> Password: 
								</div>
								<div id="regpasswordinput"> 
								 	<input type="password" id="regpassword" name="regpassword" th:field="*{password}" onfocus="this.placeholder = ''"  th:attr="placeholder=#{rJelszo}" />  
								</div>
								<div id="clear">
								</div>
								<div id="regsubmit" > 
									<button class="button registration111" type="submit" th:text="#{rRegisztracio}">Registration</button>
								</div>
								
							</form>	
					</div>
				</section>
	</body>
</html>

