<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="layouts/main">

  
	<head>
		<title>Contact</title>
		 <meta name="description" content=""/>
	     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />				
		 <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
	</head>
	<body>
		<div layout:fragment="loginContent"  id="descriptioncontainer">	
			<div id="indexcontainer">
				<h1>Contact:</h1>
				</br>
				</br>
			<h2>Romania</h2>	
			</br>
			</br>
			<h4>Oradea City</h4>
			</br>	
			<p>Phone Number: +40771326745 </p>
			</br>
			<p>Email: skybolt83@gmail.com </p>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			
			
				
				
				
				
				
			</div>	
		</div>
	</body>
</html>

