<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="layouts/main">

  
	<head>
		<title>Description</title>
		 <meta name="description" content=""/>
	     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />				
		 <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
	</head>
	<body>
		<div layout:fragment="loginContent"  id="descriptioncontainer">	
			<div id="indexcontainer">
				<h1>Server Description:</h1>
				</br>
				</br>
			<h2>BackEnd</h2>	
			</br>
			</br>
			<p>Authentication with Spring Security </p>
			</br>	
			<p>Error controller</p>
			</br>
			<p>Exception general controller </p>
			</br>
			<p>Debugging with LoggerFactory slf4 </p>
			</br>
			<p>PostGreSql Database with JPA Queries</p>
			</br>
			<p>Regex input Validation </p>
			</br>
			<p>Email Sending Service:RO,EN,HU </p>
			</br>
			<p>User Activation Service </p>
			</br>
			<p>BCryptPasswordEncoding </p>
			</br>
			<p>Security Context holder For Auth user Deatails </p>
			</br>
			<p>User/ADMIN Privileges </p>
			</br>
			<p>Share Youtube Videos and Images with ADMIN Privileges</p>
			</br>
			<p> Set Content and delete content with Admin Privileges</p>
			</br>
			</br>
			<h2>FrontEnd</h2>
			</br>
			</br>
			<p>Multilanguage:RO,EN,HU </p>
			</br>
			<p>Blogging: Dianmic input in and out</p>
			</br>
			<p>Searching by Blogs</p>
			</br>
			<p>JavaScriptImplementations:Snackbar,Scrolling,TimeOut </p>
			</br>
			<p>Error page at /error/** </p>
			</br>
			</br>
				
				
				
				
				
			</div>	
		</div>
	</body>
</html>

